.btn {
  display: inline-flex;
  padding: size(27px);

  color: $color-sapphire;
  background-color: inherit;
  border: size(1px) solid $color-sapphire;
  cursor: pointer;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }
}
