.card {
  width: size(360px);
  box-sizing: border-box;
  padding: size(7px);

  background-color: $color-default-white;

  cursor: pointer;

  @include vp-1365 {
    width: size(440px);
  }

  @include vp-767 {
    width: size(290px);
  }

  @include hover-focus {
    background-image: $gradient-card;
  }

  &:focus-within {
    background-image: $gradient-card;
  }
}

.card__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: size(58px);

  background-color: $color-default-white;

  @include vp-1365 {
    padding: size(58px) size(110px);
  }

  @include vp-767 {
    padding: size(45px) size(50px);
  }
}

.card__title {
  margin: 0;
  margin-bottom: size(7px);

  font-size: size(26px);
  font-weight: 700;
  line-height: size(26px);

  @include vp-1365 {
    margin-bottom: size(18px);

    font-size: size(24px);
    line-height: size(24px);
  }

  @include vp-767 {
    margin-bottom: size(15px);

    font-size: size(22px);
    line-height: size(22px);
  }
}

.card__subtitle {
  margin: 0;
  margin-bottom: size(70px);

  font-weight: 300;

  @include vp-1365 {
    margin-bottom: size(72px);
  }

  @include vp-767 {
    margin-bottom: size(62px);

    font-size: size(14px);
    line-height: size(22px);
  }
}

.card__price {
  z-index: 2;

  display: flex;
  align-items: center;
  margin-bottom: size(35px);

  font-size: size(60px);
  font-weight: 700;
  line-height: size(90px);
  color: $color-egyptian-blue;

  @include vp-1365 {
    margin-bottom: size(24px);
  }

  @include vp-767 {
    margin-bottom: size(24px);

    font-size: size(48px);
    line-height: size(72px);
  }
}

.card__price > svg {
  width: size(30px);
  height: size(42px);
  margin-left: size(14px);

  @include vp-767 {
    width: size(24px);
    height: size(33px);
    margin-left: size(10px);
  }
}

.card__price-shadow {
  position: absolute;
  content: "";
  top: size(138px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  font-size: size(100px);
  font-weight: 700;
  line-height: size(150px);
  color: $color-whisper;
  opacity: 0.48;

  @include vp-767 {
    top: size(120px);

    font-size: size(80px);
    line-height: size(120px);
  }
}

.card__button {
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  width: size(205px);
  min-height: size(66px);
  padding: size(25px);
  box-sizing: border-box;

  font-size: size(12px);
  font-weight: 700;
  line-height: size(12px);
  letter-spacing: size(0.6px);
  text-transform: uppercase;

  border: size(2px) solid $color-sapphire;

  @include vp-1365 {
    min-height: size(56px);
    padding: size(20px);
  }

  &:not(.card__button--disabled) {
    @include hover-focus {
    color: $color-default-white;

    background-image: $gradient-button;
    background-origin: border-box;
    border-color: $color-transparent;
    outline: none;
    }
  }

  &--disabled {
    opacity: 0.3;

    cursor: default;
  }
}

.card:hover .card__button:not(.card__button--disabled) {
  color: $color-default-white;

  background-image: $gradient-button;
  background-origin: border-box;
  border-color: $color-transparent;
}

.card .card__button:active:not(.card__button--disabled) {
  color: $color-white-opacity70;
}

.card.is-active {
  background-image: $gradient-card;

  cursor: default;

  & .card__button:not(.card__button--disabled) {
    color: $color-default-white;

    background-image: $gradient-button;
    background-origin: border-box;
    border-color: $color-transparent;
  }

  & .card__button:not(.card__button--disabled):active {
    color: $color-white-opacity70;
  }
}
