.main-header {
  padding-bottom: size(120px);

  background: $gradient-hero;

  @include vp-1365 {
    padding-bottom: size(100px);
  }

  @include vp-767 {
    padding-bottom: size(70px);
  }
}

.main-header__logo-phone-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: size(20px) 0;

  @include vp-767 {
    padding: size(10px) 0;
    margin-bottom: size(35px);
  }
}

.main-header__address-phone {
  display: block;
  padding: size(9px);
  margin-right: size(-10px);

  font-size: size(26px);
  font-weight: 700;
  line-height: size(26px);
  font-style: normal;
  color: $color-default-white;

  border: size(1px) solid  $color-transparent;

  @include vp-1365 {
    font-size: size(24px);
    line-height: size(24px);
  }

  @include vp-767 {
    padding: size(5px);
    margin-right: size(-6px);

    font-size: size(22px);
    line-height: size(22px);
  }

  &:not(.main-header__address-phone--disabled) {
    @include hover-focus {
      color: $color-resolution-blue;
      outline: none;
    }

    @include active {
      color: $color-sapphire;
      text-decoration: underline;

      border: size(1px) solid  $color-transparent;
    }
  }

  &--disabled {
    color: $color-ghost-white;

    opacity: 0.5;
    cursor: default;
  }
}

.main-header__logo-link {
  display: block;
  padding: size(10px);

  margin-left: size(-10px);

  background-color: $color-resolution-blue;

  @include vp-767 {
    padding: size(6px);

    margin-left: size(-6px);
  }
}

.main-header__logo-link-image-wrapper img{
  width: size(118px);

  @include vp-1365 {
    width: size(108px);
  }

  @include vp-767 {
    width: size(100px);
    height: size(22px);
  }
}

.main-header__hero-wrapper {
  display: flex;
  width: size(955px);
  align-items: center;

  @include vp-1365 {
    width: 100%;
  }

  @include vp-767 {
    justify-content: center;
  }
}

.main-header__hero-info-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: size(385px);
  margin-right: size(70px);
  padding-left: size(115px);

  @include vp-1365 {
    width: size(324px);
    margin-right: size(30px);
    padding-left: size(139px);
  }

  @include vp-767 {
    display: grid;
    width: auto;
    grid-template-areas:
    "list city"
    "list title"
    "btn btn";
    grid-template-columns: size(128px) auto;
    margin-right: 0;
    padding-left: 0;
  }
}

.main-header__hero-title {
  order: 2;

  margin: 0;
  margin-bottom: size(50px);

  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: size(92px);
  font-weight: 800;
  line-height: size(110px);
  letter-spacing: size(4.6px);
  text-transform: uppercase;
  text-align: right;
  color: $color-default-white;

  @include vp-1365 {
    font-size: size(72px);
    line-height: size(85px);
    letter-spacing: normal;
  }

  @include vp-767 {
    grid-area: title;
    margin-bottom: 0;

    font-size: size(67px);
    line-height: size(70px);
  }
}

.main-header__hero-city {
  order: 1;

  margin-bottom: size(10px);

  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: size(54px);
  font-weight: 600;
  line-height: size(54px);
  letter-spacing: size(1.62px);
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-1365 {
    font-size: size(42px);
    line-height: size(42px);
    letter-spacing: size(1.26px);
  }

  @include vp-767 {
    grid-area: city;
    margin-bottom: size(14px);

    font-size: size(32px);
    line-height: size(32px);
    letter-spacing: size(0.96px);
    text-align: right;
  }
}

.main-header__hero-list {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  padding: 0;
  margin: 0;

  text-align: right;

  list-style: none;

  @include vp-767 {
    position: static;
    transform: none;

    grid-area: list;
    padding-right: size(15px);
  }
}

.main-header__hero-item {
  font-size: size(14px);
  font-style: normal;
  font-weight: 400;
  line-height: size(22px);
  color:  $color-default-white;

  @include vp-767 {
    line-height: size(20px);
  }
}

.main-header__hero-button {
  order: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(27px) size(56px);

  font-size: size(12px);
  font-weight: 700;
  line-height: size(12px);
  letter-spacing: size(0.6px);
  text-transform: uppercase;
  color: $color-default-white;

  border: size(2px) solid $color-default-white;

  @include vp-1365 {
    width: 100%;
    padding: size(22px);

    font-weight: 400;
  }

  @include vp-767 {
    grid-area: btn;
    width: 100%;
    max-width: none;
    padding: size(20px);
    margin-top: size(60px);

    font-weight: 700;
  }

  &:not(.main-header__hero-button--disabled) {
    @include hover-focus {
      color: $color-egyptian-blue;

      background-color: $color-default-white;
      outline: none;
    }

    @include active {
      color: $color-sapphire;
    }
  }

  &--disabled {
    color: $color-default-white;

    background-color: $color-transparent;
    opacity: 0.5;
    cursor: default;
  }
}

.main-header__hero-image-wrapper img {
  width: size(500px);

  @include vp-1365 {
    width: size(324px);
  }

  @include vp-767 {
    display: none;
  }
}

.main-header__hero-image-wrapper img {
  object-fit: cover;
}
