.review {
  display: grid;
  grid-template-columns: size(80px) auto;
  column-gap: size(30px);
  padding: size(60px);
  background-color: $color-resolution-blue;

  @include vp-1365 {
    padding: size(60px) size(66px) size(60px) size(65px);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: size(226px);
    padding: size(30px) size(25px) size(28px);
  }
}

.review__content-wrapper {
  order: 2;
  margin: 0;
  color: $color-default-white;
}

.review__content-wrapper h3 {
  margin: 0;
  margin-bottom: size(21px);
  font-size: size(22px);
  font-weight: 400;
  line-height: size(22px);

  @include vp-1365 {
    margin-bottom: size(13px);
    font-size: size(20px);
    line-height: size(20px);
  }

  @include vp-767 {
    margin-bottom: size(17px);
    font-size: size(18px);
    text-align: center;
  }
}

.review__content-wrapper p {
  margin: 0;

  @include vp-767 {
    font-size: size(14px);
    line-height: size(22px);
    text-align: center;
  }

  &:not(:last-child) {
    margin-bottom: size(10px);
  }
}

.review__image-wrapper {
  order: 1;
  width: size(80px);
  height: size(80px);

  @include vp-767 {
    margin-bottom: size(10px);
    width: size(68px);
    height: size(68px);
  }
}

.review__image-wrapper img {
  width: size(80px);
  height: size(80px);
  object-fit: cover;
  border-radius: 50%;

  @include vp-767 {
    width: size(68px);
    height: size(68px);
  }
}
